/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden; }

p {
  font-size: 15px;
  line-height: 28px;
  padding: 10px; }

.container {
  width: 100%;
  padding: 0px;
  margin: 0px; }
  @media all and (min-width: 768px) {
    .container {
      max-width: 740px; } }
  @media all and (min-width: 1240px) {
    .container {
      max-width: 1140px; } }

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0; }
  @media all and (min-width: 768px) {
    .row {
      flex-direction: row; } }

.col {
  padding: 0px;
  width: 100%; }
  @media all and (min-width: 768px) {
    .col--md50 {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media all and (min-width: 768px) {
    .col--md33 {
      flex: 0 0 33.33333333%;
      max-width: 33.33333333%; } }
  @media all and (min-width: 768px) {
    .col--md25 {
      flex: 0 0 25%;
      max-width: 25%; } }
  @media all and (min-width: 1240px) {
    .col--lg50 {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media all and (min-width: 1240px) {
    .col--lg33 {
      flex: 0 0 33.333333%;
      max-width: 33.333333%; } }
  @media all and (min-width: 1240px) {
    .col--lg25 {
      flex: 0 0 25%;
      max-width: 25%; } }

.text-animation1, .text-animation2 {
  color: crimson; }
  .text-animation1--item, .text-animation2--item {
    font-size: 45px;
    line-height: 45px;
    display: inline-block;
    animation: animation 2s ease-in-out infinite; }
    @media all and (min-width: 768px) {
      .text-animation1--item, .text-animation2--item {
        font-size: 160px;
        line-height: 160px;
        letter-spacing: 40px; } }
    .text-animation1--item:nth-of-type(2), .text-animation2--item:nth-of-type(2) {
      animation-delay: 1.2s; }
    .text-animation1--item:nth-of-type(4), .text-animation2--item:nth-of-type(4) {
      animation-delay: 1s; }
    .text-animation1--item:nth-of-type(6), .text-animation2--item:nth-of-type(6) {
      animation-delay: 1.5s; }
@keyframes animation {
  0% {
    transform: translate(-20%, 0); }
  50% {
    text-shadow: 10px 15px 40px rgba(44, 39, 7, 0.897); }
  100% {
    transform: translate(20%, 0); } }
.heading--h1 {
  color: #eff0f3;
  font-size: 48px;
  text-align: left;
  font-family: 'Kanit', sans-serif; }
  @media all and (min-width: 768px) {
    .heading--h1 {
      font-size: 70px; } }
.heading--h2 {
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif; }
  @media all and (min-width: 768px) {
    .heading--h2 {
      font-size: 40px; } }
.heading--h3 {
  color: #000000;
  padding-left: 10px;
  font-size: 40px;
  font-family: 'Raleway', sans-serif; }
  @media all and (min-width: 768px) {
    .heading--h3 {
      font-size: 40px; } }
.heading--h4 {
  color: #000000;
  font-size: 35px;
  line-height: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-align: left; }
  @media all and (min-width: 768px) {
    .heading--h4 {
      font-size: 40px;
      line-height: 45px; } }

.logo {
  text-decoration: none;
  color: #eff0f3;
  font-size: 12px; }
  @media all and (min-width: 768px) {
    .logo {
      font-size: 15px; } }

.nav__item {
  font-size: 18px;
  padding: 5px;
  text-align: left; }
  @media all and (min-width: 768px) {
    .nav__item {
      font-size: 30px; } }
  .nav__item--bold {
    font-weight: bold; }

.image-box {
  height: 100vh;
  text-decoration: none; }
  .image-box--one {
    display: block;
    background: url(../../../assets/img/01_jordania/img3.JPG) center/cover no-repeat; }
  .image-box--two {
    display: block;
    background: url(../../../assets/img/01_jordania/img2.JPG) center/cover no-repeat; }

.text__bg {
  border-top: 2px dashed black;
  background-color: #dc143c; }
.text--post {
  color: #eff0f3;
  line-height: 15px;
  text-align: justify; }
  @media all and (min-width: 768px) {
    .text--post {
      font-size: 30px;
      line-height: 30px; } }

.footer {
  background-color: #1f1e1e; }
  .footer--post {
    color: #eff0f3;
    font-size: 25px;
    text-align: left; }
    @media all and (min-width: 768px) {
      .footer--post {
        font-size: 35px;
        line-height: 40px; } }

.to-top__link {
  padding: 8px;
  display: block;
  color: #eff0f3;
  font-weight: bold;
  border: 1px solid grey;
  border-radius: 5px;
  transition-duration: .4s; }
  @media all and (min-width: 768px) {
    .to-top__link {
      padding: 12px; } }
  .to-top__link:hover {
    background-color: #7f0c23; }

.site-header {
  background-color: #dc143c;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  position: relative; }
  .site-header__text-animation1 {
    position: absolute;
    width: 80%;
    left: 5%;
    top: 30%; }
    @media all and (min-width: 768px) {
      .site-header__text-animation1 {
        top: 30%; } }
  .site-header__text-animation2 {
    position: absolute;
    width: 80%;
    left: 5%;
    top: 40%; }
    @media all and (min-width: 768px) {
      .site-header__text-animation2 {
        top: 50%; } }
  .site-header__logo {
    position: absolute;
    left: 5%;
    top: 5%; }

.site-footer {
  position: relative;
  height: 100vh; }
  .site-footer--post {
    position: absolute;
    width: 80%;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 10%; }
  .site-footer__link {
    position: absolute;
    text-decoration: none;
    color: #eff0f3;
    font-size: 15px;
    bottom: 3%;
    right: 15%; }
    @media all and (min-width: 768px) {
      .site-footer__link {
        font-size: 18px;
        right: 5%; } }

.site-section {
  height: 100vh;
  position: relative; }
  .site-section__h2 {
    position: absolute;
    top: 5%;
    left: 5%; }
  .site-section__nav {
    position: absolute;
    top: 20%;
    left: 5%; }
  .site-section__text {
    position: absolute;
    width: 100%;
    height: 100%; }
    .site-section__text--post {
      position: absolute;
      top: 10%;
      margin: 0 auto;
      right: 0;
      left: 0;
      width: 80%; }
  .site-section__h4 {
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 10%; }

.site-body__to-top {
  position: fixed;
  bottom: 15px;
  right: 15px; }

/*# sourceMappingURL=main.css.map */
