.site-header {
    background-color: $color-red;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
    &__text-animation1 {
        position: absolute;
        width: 80%;
        left: 5%;
        top: 30%;
        @include medium () {
            top: 30%;
        }
    }
    &__text-animation2 {
        position: absolute;
        width: 80%;
        left: 5%;
        top: 40%;
        @include medium () {
            top: 50%;
        }
    }
    &__logo {
        position: absolute;
        left: 5%;
        top: 5%;
    }
}