.site-section {
    height: 50vh;
    position: relative;
    @include medium() {
        margin-left: 30%;
    }
    &__blackout {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &__h2 {
        position: absolute;
        top: 5%;
        left: 5%;
    }
    &__h3 {
        position: absolute;
        top: 15%;
        left: 5%;
    }
    &__h4 {
        position: absolute;
        bottom: 5%;
        left: 5%;
    }

}